Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  modernize-use-nullptr,
  modernize-use-override

WarningsAsErrors: ""
HeaderFilterRegex: "^(?!.*(third_party|extern|build|artifacts)).*$"
SystemHeaders: false
FormatStyle: file
